body{
  margin: 0;
  background-color: yellow;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  gap 10px;
  text-align: center;
  width: 300px;
  padding: 20px;
  background-color: purple;
  border-radius: 10px;
}

h1, p{
  margin: 0;
}
